body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e6e8ed;
  color: #666666;
  font-family: "Montserrat", sans-serif;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
}

.text-primary {
  color: #666666;
}

.text-blue {
  color: #246dec;
}

.text-red {
  color: #cc3c43;
}

.text-green {
  color: #367952;
}

.text-orange {
  color: #f5b74f;
}

.font-weight-bold {
  font-weight: 600;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}


/* ---------- HEADER ---------- */

.header {
  grid-area: header;
  height: 70px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.menu-icon {
  display: none;
}

.action{
  position: fixed;
  right: 30px;
  top:9px
}
.action .profile{
  border-radius: 50%;
  cursor: pointer;
  height: 60px;
  overflow: hidden;
  position: relative;
  width: 60px;
}
.action .profile img{
  width: 100%;
  top:0;
  position: absolute;
  object-fit: cover;
  left: 0;
  height: 100%;
}
.action .menu{
  background-color:#FFF;
  box-sizing:0 5px 25px rgba(0,0,0,0.1);
  border-radius: 15px;
  padding: 10px 20px;
  position: absolute;
  right: -10px;
  width: 200px;
  transition: 0.5s;
  top: 120px;
  visibility: hidden;
  opacity: 0;
}
.action .menu.active{
  opacity: 1;
  top: 80px;
  visibility: visible;
}
.action .menu::before{
  background-color:#fff;
  content: '';
  height: 20px;
  position: absolute;
  right: 30px;
  transform:rotate(45deg);
  top:-5px;
  width: 20px;
}
.action .menu h3{
  color: #555;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3em;
  padding: 20px 0px;
  text-align: left;
  width: 100%;
}
.action .menu h3 div{
  color: #818181;
  font-size: 14px;
  font-weight: 400;
}
.action .menu ul li{
  align-items: center;
  border-top:1px solid rgba(0,0,0,0.05);
  display: flex;
  justify-content: left;
  list-style: none;
  padding: 10px 0px;
}
.action .menu ul li img{
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition:0.5s
}
.action .menu ul li a{
  display: inline-block;
  color: #555;
  font-size: 14px;
  font-weight: 600;
  padding-left: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}
.action .menu ul li:hover img{
  opacity: 1;
}
.action .menu ul li:hover a{
  color:#ff00ff;
}
/* ---------- SIDEBAR ---------- */

#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #21232d;
  color: #9799ab;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #9799ab;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
    the z-index of the ApexCharts is 11
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 12 !important;
}


/* ---------- MAIN ---------- */

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-title > p {
  font-size: 20px;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 1px solid #d2d2d3;
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.card:first-child {
  border-left: 7px solid #246dec;
}

.card:nth-child(2) {
  border-left: 7px solid #f5b74f;
}

.card:nth-child(3) {
  border-left: 7px solid #367952;
}

.card:nth-child(4) {
  border-left: 7px solid #cc3c43;
}

.card > span {
  font-size: 20px;
  font-weight: 600;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > p {
  font-size: 18px;
}

.card-inner > span {
  font-size: 35px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.charts-card {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 25px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  border: 1px solid #d2d2d3;
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.chart-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
}


/* ---------- SCROLLBARS ---------- */

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4f35a1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a5aaad;
}


/* ---------- MEDIA QUERIES ---------- */


/* Medium <= 992px */
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}

/* Small <= 768px */
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }
}

/* Car options style*/
.car_options{
  text-align: center;
}

.car_slide{
  width: 100%;
  height: 18em;
}

.slide{
position: relative;
z-index: 1;
display: inline-block;
overflow: hidden;
}
.slide img{
display: inline-block;
vertical-align: middle;
}
.slide-content{
font-size : 1.5em;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom:0;
width:100%;
height: 100%;
z-index: 1;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
padding:20px;
box-sizing: border-box;
-webkit-box-sizing: border-box;
background-color: rgba(225, 35, 69, 0.4);
color: #ffffff;
transition: transform 1s ease;
-webkit-transition: transform 0.3s ease;
}
.slide:hover .slide-content{
transform:translate(0, 0);
-webkit-transform:translate(0, 0);
}

/*Directions*/
.slide-top .slide-content{
transform:translate(0, -100%);
-webkit-transform:translate(0, -100%);
}
.slide-left .slide-content{
transform:translate(-100%, 0);
-webkit-transform:translate(-100%, 0);
}
.slide-right .slide-content{
transform:translate(100%, 0);
-webkit-transform:translate(100%, 0);
}
.slide-bottom .slide-content{
transform:translate(0, 100%);
-webkit-transform:translate(0, 100%);
}
#logo{
height: 3.2em;
width: auto;
}
@media (min-width: 80.1em)
{
.slide_car{
  height: 50%;
  padding: 2em  5em 5em 5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3em;
}
}
@media (max-width: 80em)
{
.slide_car{
  height: 50%;
  padding: 2em  5em 5em 5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5em;
}
}
@media (max-width: 50em)
{
.slide_car{
  height: 50%;
  width: 85%;
  padding: 2em  5em 5em 5em;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5em;
}
}

/* Car information */
.container {
  width: 80%;
  margin: auto;
}
h1 {
  text-align: center;
}
.car-info {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}
.car-info img {
  max-width: 100%;
  height: auto;
}

/* Settings */
.settings {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
}
.settings label {
  display: block;
  margin-bottom: 10px;
}
.settings select,
.settings input[type="submit"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.settings input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.settings input[type="submit"]:hover {
  background-color: #45a049;
}

/* Reservation modal*/
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.close {
  float: right;
  cursor: pointer;
}